@import "variables";
@import "_mixin";


.addnote{
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .lottie1{
        width: 50%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
        box-sizing: border-box;
    }
    @include respond-to(laptop) {
        .lottie-animation {
          width: 70%; // Increase size for smaller screens
          max-width: 200px; // Adjust as needed for mobile devices
        }
      }
      @include respond-to(tab){
        .lottie-animation{
            width:60%;
        }
      }
      @include respond-to(tabSmall){
        .lottie-animation {
          width: 80%; // Further increase size for very small screens
          max-width: 150px; // Adjust as needed for very small devices
        }
}
}