@import "variables";
@import "_mixin";
body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.pattern-background {
  background-color: $bg-color-light;
  background-image: radial-gradient(
    #ababab 1px,
    transparent 1px
  ); /* Dot color and size */
  background-size: 20px 20px; /* Distance between dots */
}

.blank-background {
  background-color: $bg-color-light;
  background-image: none; /* No pattern */
}

.sub-container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem 2.5rem;
  gap: 1.5rem;
  .empty-state {
    grid-column: 1 / -1; // Span all columns
    grid-row: 1; // Place it in the first row
    // display: flex;
    align-items: center; // Center items vertically
    justify-content: center; // Center items horizontally
    flex-direction: column; // Stack items vertically
    height: 100%; // Ensure it takes full height
    text-align: center; // Center text inside
    box-sizing: border-box;
  }
}
.wrapper {
  display: flex;
  //justify-content: center;
  //align-items: center;
  box-sizing: border-box;
  width: 100%;
  .panel-div {
    transition: width 0.3s ease-in-out;
    height: 100vh;
    &.openWidth {
      width: 65%;
    }
    &.closeWidth {
      width: 0;
    }
  }
}
.create {
  width: 100%;
  position: fixed;
  bottom: 4rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: end;
  button {
    width: 4rem;
    height: 4rem;
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: white;
    font-size: 1.7rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    // &:hover {
    //   background-color: $primary-color2;
    //   filter: $shadow;
    //   transform: scale(1.1);
    // }
  }
}
.backdrop{
  position:fixed;
  background-color:rgba(0,0,0,0.3);
  top:0;
  left:0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  // transform:translate(-50%,-50%);
  // z-index:10;
}

.modal-styles {
  width: 25%;
  height: auto;
  max-height: auto;
  background-color: white;
  margin: 2rem auto;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  position: relative;
  z-index: 100;
}
@include respond-to(mobile) {
  .wrapper {
    .panel-div {
      &.openWidth {
        min-width: 40%;
      }
    }
    .sub-container {
      grid-template-columns: repeat(1, 1fr);
      margin: 1rem 2rem;
    }
  }
  .create {
    button {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
    }
  }
  .modal-styles {
    height: auto;
    min-width: 50%;
    padding: 0.2rem 0.5rem;
  }
}
@include respond-to(tabSmall) {
  .wrapper {
    .panel-div {
      &.openWidth {
        min-width: 40%;
      }
    }

    .sub-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .create {
    button {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
    }
  }
  .modal-styles {
    height: auto;
    min-width: 70%;
    padding: 0.2rem 0.5rem;
  }
}
@include respond-to(tabMedium) {
  .wrapper {
    .panel-div {
      &.openWidth {
        min-width: 30%;
      }
    }
    .sub-container {
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0rem;
      padding-right: 0.5rem;
      margin: 2rem 1rem;
      grid-auto-rows: minmax(100px, 150px);
    }
  }
  .create {
    button {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
    }
  }
  .modal-styles {
    height: auto;
    min-width: 50%;
    padding: 0.2rem 0.5rem;
  }
}
@include respond-to(tab) {
  .wrapper {
    .panel-div {
      &.openWidth {
        min-width: 30%;
      }
    }
    .sub-container {
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0rem;
      padding-right: 0.5rem;
      margin: 2rem 1rem;
      grid-auto-rows: minmax(100px, 150px);
    }
  }
  .create {
    button {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
    }
  }
  .modal-styles {
    height: auto;
    min-width: 50%;
    padding: 0.2rem 0.5rem;
  }
}
@include respond-to(laptop) {
  .wrapper {
    .panel-div {
      display: none;
      &.openWidth {
        min-width: 20%;
      }
    }
    .sub-container {
      margin: 1.3rem;
      grid-template-columns: repeat(3, 1fr);
      padding-left: 0rem;
      padding-right: 0rem;
      margin: 1rem 1.5rem;
    }
  }
  .create {
    button {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 1.5rem;
    }
  }
  .modal-styles {
    height: auto;
    min-width: 30%;
    padding: 0.2rem 0.5rem;
  }
}

@include respond-to(desktop) {
  .wrapper {
    // box-sizing: border-box;
    padding: 1rem;
    .panel-div {
      display: none;
      &.openWidth {
        min-width: 17%;
        max-width: 17%;
      }
    }
  }
}
